<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">  
<meta name="description" content="{$SEO['description']}"> 
{template "content","header"}
<!--main-->
<div class="container w990">
     <div class="main ovh">
	        {template "content", "lawer"} 
		  <div class="info fr">
			   <div class="conts">
					<div class="conts_tle">您的位置：<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)}列表 </div>
					<div class="info_in b2">
						 <ul class="infolist">
							 {pc:content action="lists" catid="$catid" num="20" order="id DESC" page="$page"}
                             {loop $data $r}  							  							  							  							  <li><a href="{$r[url]}" class="fl">{$r[title]}</a><span class="c999 fr">{date('Y-m-d',$r[inputtime])}</span>
                             {if $n%5 ==0}<li class="bk20 hr"></li>{/if}
                        {/loop}
                          {/pc}
							  </ul>
                               <ul class="infolist">{$pages}</ul>
						 <div class="page">{$pages}</div>
					</div>
			   </div>
	      </div>
	 </div>
	 </div>
{template "content","footer"}