<div class="space"></div>
	 <div class="copyright">
		  <p class="btp"><a class="cfff" href="{$CATEGORYS[13][url]}">联系我们</a> | <a  class="cfff" href="{$CATEGORYS[32][url]}">加入会员</a> | <a class="cfff" href="{$CATEGORYS[9][url]}">协会活动</a> | <a  class="cfff"href="{$CATEGORYS[6][url]}">协会介绍</a> </p>
		  <!--p>联系地址：71-73 Charing Cross Road, London, WC2H 0NE,UK(英国）</p>
		  <p>电话：0845 224 3185&nbsp;&nbsp; 电邮:<a href="mailto:info@ukchetpa.org">info@ukchetpa.org </a>&nbsp;&nbsp;传真:020 203 2505</p-->
			<p>Copyright @ 2014 英中经贸交流促进会，版权所有</p>
 </div>
</body>
</html>