
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>	
<link rel="stylesheet" href="{CSS_PATH}style.css" type="text/css" />
</head>

<body>
<div class="header">
     <div class="top">
     	
	      <div class="w990">
            <div class="logo fl"><a href="{APP_PATH}"><img src="{IMG_PATH}logo.png" /></a></div>
	        	
	        	<div class="login">
							<div class="langu"><a href="http://www.ukcnetpa.org"><span>&nbsp;&nbsp;中文</span></a>&nbsp;<a href="http://www.ukcnetpa.org/" target="_blank"><span>ENGLISH&nbsp;&nbsp;</span></a></div>
	        		<div><script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="300" height="24" frameborder="0" scrolling="no"></iframe>')</script></div>
	        	</div>
  	        
  	   			
		  	</div>
	 </div>
	 <div class="nav">
	      <ul class="navmain">
		    <li><a href="{APP_PATH}"{if !$catid && $_GET['m']!=guestbook} class="hover"{/if}>网站首页</a></li>   
			  {pc:content action="category" num="8"}
			  {loop $data $r}
			  <li><a href="{$r[url]}" {if $r[catid]==$catid}class="hover"{/if}>{$r[catname]}</a></li>    
			  {/loop}
			  {/pc}
			  
		  </ul>
	 </div>
	 <!--div class="subnav">
	      <div class="w990"><b>热门内容：</b>
		  {pc:content action="category" catid="14"}
		  {loop $data $r}
        <a href="{$r[url]}">{$r[catname]}</a>
          {if $n !== count($data)}|{/if}
          {/loop}
		  {/pc}
		  </div>
	 </div-->
	 <div class="banner"><a href="{APP_PATH}"><img src="{IMG_PATH}ad/banner.jpg" /></a></div>
</div>
