
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">  
<meta name="description" content="{$SEO['description']}"> 
{template "content","header"}
<!--main-->
<div class="container w990">
     <div class="main ovh">
	    
			   {template "content", "indexintro"}
		  
		  <div class="main_ct box fl ml10">
		       <div class="new">
					{pc:get sql="SELECT * from v9_news where status=99 and catid in(9)  order by id DESC" num="3" return="data"}
					{loop $data $r}
					<dl>
					  <dt><a href="{$r[url]}">{str_cut($r[title], 60, false)}</a></dt>
						<dd><strong>活动内容摘要</strong>：{str_cut($r[description], 500)}......<a href="{$r[url]}" class="cf60">[阅读全文]</a></dd>
					</dl>
					{/loop}
					{/pc}
			   </div>
			   
			   <dl class="newlist">
				    <dt><span class="fb14 fl">新闻摘要</span></dt>
					{pc:get sql="SELECT * from v9_news where status=99 and catid in(49)  order by id DESC" num="7" return="data"}
					{loop $data $r}
					<dd><a href="{$r[url]}" class="fl">{str_cut($r[title], 70, false)}</a><span class="fr c999">{date("Y-m-d", $r[updatetime])}</span></dd>
					{/loop}
					{/pc} 
			   </dl>
		  </div>
		  
		  
		  <div class="main_rg fr">
				  <div class="box">
			    	<div class="boxtle"><span class="fb14">协会介绍</span></div>
							<div class="boxmain">
					     <dl class="about">
						     	<dt><img alt="协会介绍" src="/statics/images/founder.png" /></dt>
							 	 <dd>　 {pc:get sql="SELECT * FROM v9_page where catid=6"}
  {loop $data $key $val}
   {str_cut(strip_tags($val[content]),1000,'')}...
{/loop}
{/pc}<a href="http://www.ukcnetpa.org/index.php?m=content&c=index&a=lists&catid=6" class="cf60">详细>></a></dd>
							 						 </dl>
									</div>
			    </div>


			   			   
			   
			   
			   <!--div class="space"></div>
		       <div class="box">
			        <div class="tle"><b class="f14">服务业务</b></div>
					<div class="boxmain">
						
					   <div class="yewu">
						 {pc:content action="category" catid="14" num="12"}
						 {loop $data $r}
						 <a href="{$r[url]}">{$r[catname]}</a>
						 {/loop}
						 {/pc}
						 </div>
					</div>
			   </div-->			   

	      </div>
	 </div>
	 <div class="space"></div>
	 <div class="link friendlylinktile">
		  <div class="plink">
			   <div class="links">
			   合作伙伴:{pc:link  action="type_list" siteid="$siteid" order="listorder DESC" return="pic_link"}
				{loop $pic_link $v}
				<a href="{$v['url']}" target="_blank">{$v['name']}</a>
				{/loop}
				{/pc}
			   </div>
		  </div>
	 </div>
{template "content","footer"}


