<div class="main_lf fl">
		       		        <div class="box">
			        <div class="boxtle"><span class="fb14">协会介绍</span></div>
					<div class="boxmain">
					     <dl class="about">
						     	<dt><img alt="协会介绍" src="" /><br />协会介绍</dt>
							 	 <dd>　 {pc:get sql="SELECT * FROM v9_page where catid=6"}
  {loop $data $key $val}
   {str_cut(strip_tags($val[content]),300,'')}...
{/loop}
{/pc}<a href="/html/lsjs/" class="cf60">详细>></a></dd>
							 						 </dl>
					</div>
			    </div>
                					   <div class="space"></div>
			   <div class="box">
                    <div class="boxtle"><span class="fb14">联系方式</span></div>
					<div class="boxmain">
                        
					     <dl class="ziliao">
							 <dd>地址：71-73 Charing Cross Road, London, WC2H 0NE,UK(英国)</dd>
							 <dd>电话：0845 224 3185</dd>
							 <dd>电邮：<a href="mailto:info@ukcnetpa.org">info@ukcnetpa.org</a></dd>
							 <dd>传真：020 203 2505</dd>							 
							 <dd>邮编：WC2H 0NE</dd>
							 <dd>工作时间：9 am-6 pm (Monday - Friday)</dd>
						</dl>
                       
					</div>
                </div>          
                </div>