<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">  
<meta name="description" content="{$SEO['description']}"> 

{template "content","header"}
<!--main-->
<div class="container w990 photo-channel">
    <div class="conts_tle">您的位置：<a href="{siteurl($siteid)}">首页</a><span> &gt; </span>{catpos($catid)}列表 </div>

    <div class="bk10">
        {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
            <ul class="photo-list picbig">
                {loop $data $r}
                <li>
                <div class="img-wrap">
                <a href="{$r[url]}"><img src="{thumb($r[thumb],150,112)}" width="150" height="112" alt="{$r[title]}"/></a>
                </div>
                <span style="color:{$r[style]}">{str_cut($r[title],28)}</span>
                </li>
                {/loop}
            </ul>
            <div id="pages" class="text-c">{$pages}</div>
        {/pc}
    </div>

    {template "content","footer"}